*{
padding: 0;
margin: 0;
	font-family: "roboto",sans-serif;	
}
.container{
	width: 980px;
	margin: 0 auto;
}
header{ 
	height: 100px;
	background: #ffffff  
}
header img{
	padding-left: 30px;
}
nav{
	height: 35px;
	background: #d8d8d8;
	margin-bottom: 5px;
}
nav .menu ul{
	list-style: none;
}
nav .menu ul li{
	float: left;
	line-height: 35px;
	padding: 0 15px;
}
nav .menu ul li a{
	color: #FFFFFF;
	font-size: 12px;
	text-decoration: none;
}
nav .search{
	line-height: 35px;
	float: right;
	margin-right: 25px;
}
article h3{
	text-align: center;
	padding: 15px 0;
	color: #FFFFFF;
}